Show preach

<p></p>
<p></p>
<p></p>
<p></p>


<% if @video.videourl? %>

             

              <%= embed(@video.videourl) %>


              </p>

              <% else %>

              <% end %>
