


  <button type="button" class="btn btn-default mb-1x" data-toggle="modal" data-target="#customModal1">Show modal</button>


<!-- ################  customModal1  ###################### -->
          <div class="modal fade zindez999" data-transition="expandIn" id="customModal1" tabindex="-1" role="dialog" aria-labelledby="customModal1Label" aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-body" style="padding: 0 15px">

             

                  <div class="row">
                    <div class="col-md-7 bg-teal">
                      <!-- illustration of product img -->
                      <div class="text-center" style="padding:32px;line-height:320px;font-size:64px">
                        <span class="icon-picture text-muted">


                          
              <% if preach.preachcover? %>
             <%=link_to (image_tag preach.preachcover.url(:thumb), :class => "img-responsive centered box-hover preachedge-img"), preach %>
       
          <% end %> 
         


           







            
                          

                        </span>
                      </div>
                    </div>

                    <!-- Comments -->
                    <div class="col-md-5" style="padding: 32px">
                      <div class="clearfix">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon_close fa-lg"></i></button>
                        <h1>Product Title</h1>
                        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim magnam ducimus quibusdam quis iure inventore cum, ab dignissimos error. Voluptates doloribus ipsam dolor tenetur voluptatibus deserunt voluptatem, accusantium eaque fuga!</p>
                        <br>
                        <button type="button" class="btn btn-lg btn-primary"><i class="icon-basket fa-faw"></i> Add to chart</button>
                        <button type="button" class="btn btn-lg btn-default">Details</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
          </div><!-- /.modal -->











