<ul class="nav nav-tabs nav-justified drop" role="tablist">
                
                <li role="presentation"><a href="/songs" aria-controls="profile" role="link">Music</a></li>

                <li role="presentation"><a href="/preaches" aria-controls="messages" role="link">Preaches</a></li>

                <li role="presentation"><a href="/songs" aria-controls="profile" role="link">Sermons</a></li>


                <li role="presentation"><a href="/videos" aria-controls="messages" role="link">Videos</a></li>
                 
                <li role="presentation"><a href="/explore" aria-controls="home" role="link">All</a></li>
                
              </ul>


